.text-area{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 900px;
}

input{
    background-color:rgb(232, 229, 229) ;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    margin: 10px;
    width: 40%;
}

.editor{
    width:600px;
    border: black 2px solid;
    background-color:rgb(232, 229, 229) ;
    font-weight: 800;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#editor {
    border: 2px solid black;
    margin-bottom: -1px;
    border-radius: 3px;
    width: 300px;
    font-weight: bold;
    font-size: 25px;
    padding-left:20px ;
}


#Informe{
    margin: 10px;
    width: 70%;
    background-color:rgb(232, 229, 229) ;
}

#Foto{
    max-width: 400px;
    text-align: center;
}


.input-area{
 display: flex;
 flex-direction: row;
}


.btn-group {
    width: 50px;
    height: 40px;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
}

.btn{
    margin-left: -10px;
}

.font1{
    font-family: "Poetsen One", sans-serif; ;    
}
.font2{
    font-family:"Sedan SC", sans-serif ;
}
.font3{
    font-family:"Raleway", sans-serif ;
}
.font4{
    font-family:"Briem Hand", sans-serif ;
}

li{
    cursor: pointer;
    padding: 10px;
}

li:hover{
    background-color:rgb(78, 152, 208) ;
    color: white;
    transition: all 0.3s ease;
}

@media (max-width:950px) {
    .editor{
        width:300px;
        border: black 2px solid;
        font-weight: 800;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    #editor {
        border: 2px solid black;
        margin-bottom: -1px;
        border-radius: 3px;
        width: 300px;
        font-weight: bold;
        font-size: 25px;
        padding-left:20px ;
        margin-right: 20px;
    }
  }