.vista-previa{
    min-height: 100px;
    max-width:900px;
    border: black 2px solid;
    background-color:rgb(232, 229, 229) ;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

h4{
    background-color:rgb(190, 178, 178) ;
    border: 2px solid black;
    margin-bottom: -1px;
    border-radius: 3px;
    max-width: 900px;
    min-width: 300px;
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#titulo{
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 20px;
    
}

#name{
    font-size: 23px;
    font-weight: 400;
    margin-left: 10px;
    border-bottom: 2px solid black;
}

#foto{
    width: 90px;
    border-radius: 50%;
    border: solid 2px black;
}

#informe{
    margin-top: 20px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    max-width: 700px;
    text-align: start;
}

@media (max-width:950px) {
    .vista-previa{
        width: 350px;
        border: black 2px solid;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
  }