html, body, .App, #root {
  background-color:rgb(240, 229, 229); 
}

.App {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

footer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight:bold ;
}

.enlaces {
  font-size: 30px;
}

.enlaces a i {
  padding: 10px;
  color: black;
}

.enlaces a i:hover{
  transition: all ease 0.3s;
  color: rgb(213, 84, 99);
  font-size: 35px;
}