html, body, .App, #root {
  background-color:rgb(240, 229, 229); 
}

.App {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

footer{
  margin-top: 50px;
  font-weight: bold;
}